*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}
html {
    font-size: 62.5%;   // declared 1rem to be 62.5% = 10px, 100% is 16px

    // @include respond-phone {
    //     font-size: 50%;
    // }

// The media order should descending ex: if phone comes firs will not work.

    @include respond(tab-land) {
        font-size: 56.25%;     // 1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-portrail) {
        font-size: 50%;   // 1rem = 8px, 8/16 = 50%
    }

    // @include respond(phone) {
    //     font-size: 30%;   // 1rem = 8px, 8/16 = 50%
    // }

    @include respond(big-desktop) {
        font-size: 75%;   // 1rem = 12px, 12/16 = 75%
    }
}  
body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-portrail) {
        padding: 0;
    }
}
::selection {
    background-color: red;
    color: $color-white
}
